body {
    background-color: #dbdbdb; /* Cream background color */
    font-family: Arial, sans-serif;
}

div#heading{
    background-color: lightblue;
    width: fit-content;
    padding: 0 10 0 10;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 2vw; /* Adjust this value to increase size */
  }
  
.button-container {
    margin-top: 20px;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline block */
    font-size: 16px; /* Text size */
    margin: 4px 2px; /* Margin */
    /*cursor: pointer;  Pointer cursor on hover */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
}

.topology-area {
    background-color: rgb(199, 196, 189);
    margin-top: 20px;
    width: 100%;
    height: 80vh;
    border: 2px dashed #000; /* Dashed border */
    position: relative;
    overflow: hidden;
}

.node, .host {
    width: 50px; /* Set desired width */
    height: 50px; /* Set desired height */
}

#svgArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

line {
    stroke: black;
    stroke-width: 2;
}

.element-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: move;
    width: 100px;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
